.profile__avatar-button {
  position: absolute;
  width: 120px;
  height: 120px;
  border: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/pen.png);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__avatar-button:hover {
  opacity: 1;
  cursor: pointer;
  background: none;
  background-image: url(../../../images/pen.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
}
