.profile__info-block {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}

@media screen and (max-width: 480px) {
  .profile__info-block {
    justify-content: center;
    align-items: center;
    padding: 22px 0 36px 0;
  }
}
